
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Conheça o sistema de agendamento de reuniões.</p>
</div>